<div>
  <button [routerLink]="['options']">Preferences</button>&nbsp;|&nbsp;
  <button [routerLink]="['play', 'beginner']">Beginner</button>
  <button [routerLink]="['play', 'normal']">Intermediate</button>
  <button [routerLink]="['play', 'expert']">Expert</button>
  <button [routerLink]="['play', 'winmax']">24x30</button>
  or
  <button [routerLink]="['play', customX + '&' + customY + '&' + customMines]">Custom</button>
  Width <input class="input" [(ngModel)]="customX">
  Height <input class="input" [(ngModel)]="customY">
  Mines <input class="input" [(ngModel)]="customMines">
</div>
<router-outlet></router-outlet>
